# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry
.cache/
*.pyo

# Flask instance folder
instance/
.webassets-cache

# Pytest
.cache/
.pytest_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytype/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Firebase credentials
*firebase*.json
*service-account*.json
google-services.json

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# Others
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.log